
.AnswerDiv {
    margin-left: 40px;
}


button {
    /* background-color:#282c34; */
    background-color:#61dafb;
    color:  #282c34;
    width: 150px;
    height: 75px;
    border: 3px solid #282c34;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;


}